$themes:(
    light:(
        textColor:black,
        bg:white,
        logo:darkblue,
        bgSoft:rgb(238, 230, 230),
        textColorSoft:#555,
        border:rgb(233, 229, 229),
    ),
    dark:(
        textColor:white,
        bg:black,
        logo:white,
        bgSoft:rgb(58, 56, 56),
        textColorSoft:#837f7f,
        border:rgb(56, 55, 55),
    ),
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }